<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <nav></nav>
      <main>
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-8">
              <h1>오후코드</h1>
              <p>즐겁고 효율적인 프로그래밍의 동반자, 오후코드에 오신 것을 환영합니다.
                오후코드는 여러분의 프로젝트에 꼭 필요한 소스코드 저장소(Git) 저장소를 편리하게 제공합니다.</p>
            </div>
            <div class="col-md-4">
              <form id="sign-up-form">
                <div class="form-group">
                  <label for="sign-up-email">이메일</label>
                  <input type="email" class="form-control" id="sign-up-email" placeholder="username@yourmail.net">
                </div>
                <div class="form-group">
              <label for="sign-up-password">패스워드</label>
              <input type="password" class="form-control" id="sign-up-password" placeholder="영문숫자혼합패스워드">
                </div>
                <button type="submit" class="btn btn-default btn-primary">가입하기</button>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
