.main-wrap {
/*  padding-top: 64px; */
  min-height: 300px;
}

.page-header {
  margin: 10px 0 20px 0;
  padding-bottom: 5px;
}

h1, h2, h3, h4, h5 {
  margin-top: 5px;
}

footer {
  background-color: #f0f0f0;
  margin-top: 50px;
  padding: 20px;
  height: 150px;
}

.signup-container, .narrow-container {
  max-width: 750px;
}

.panel-ohucode {
  border-radius: 5px;
  background-color: #fcfcfc;
  border: 1px solid #eee;
}
