<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/ohucode.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <main>
      <h2>사용자 리스트</h2>
      <div class="container">
        <div class="row">
          <table class="table" id="user-list">
            <tr>
              <th>아이디</th>
              <th>이름</th>
              <th>지역</th>
              <th>가입일</th>
            </tr>
            <tr class="user-entry">
              <td class="id">hatemogi</td>
              <td class="name">김대현</td>
              <td class="location">제주도</td>
              <td class="date">2015-10-09</td>
            </tr>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
